@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-Thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-ExtraLight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Murecho';
    src: url('../fonts/Murecho/Murecho-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}